html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  color: #474747;
}
.font-roboto {
  font-family: "Roboto", sans-serif;
}

/*Header*/
nav,
#link-header a {
  color: #222222;
}
#text-white {
  color: #ffffff;
  background: #ff5c00;
}

.links {
  padding: 2%;
}

.links a:hover {
  font-weight: 600;
}

.text-orange {
  color: #ff5c00;
}

#focused li a:hover {
  color: #ff5c00;
  font-weight: 600;
}

.card-size {
  width: 18rem;
}

#link-header a {
  text-decoration: none;
}

/*Main*/
h1,
h2,
h5 {
  font-weight: bold;
}

h1 {
  color: #111111;
}

.dark-bg,
.pink-bg {
  display: flex;
  padding-left: 10%;
}

.dark-bg {
  background: #111111;
  color: #ffffff;
}

.pink-bg {
  background: #fff8f5;
  color: #242120;
}
.btn-blue,
.btn-green {
  border: none;
  font-weight: 600;
}
.btn-blue {
  color: #0d019a;
  background: #eef8ff;
}

.btn-green {
  color: #049a01;
  background: #f0ffee;
}

#btn-white,
#btn-orange,
.text-underline {
  font-weight: 600;
}

#btn-white {
  color: #ffffff;
  border: 1px solid #ffffff;
}

#btn-orange {
  color: #ff5c00;
  border: 1px solid #ff5c00;
}

.text-underline {
  text-decoration: underline;
  text-decoration-color: #ff5c00;
}

.customer li {
  list-style-type: none;
  display: inline-block;
  position: relative;
  left: -50px;
  padding-right: 2%;
  padding-left: 5%;
}

/*Footer*/
footer {
  background: #25201d;
  color: #ffffff;
}

.input-field {
  background: #514d4a;
  border-radius: 5px;
  color: #ffffff !important;
  width: 380px;
}

.input-btn {
  margin-top: 6px;
  height: 55px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}

@media only screen and (max-width: 500px) {
  .input-field {
    width: 80vw;
  }
}

.text-bold {
  font-weight: 600;
}

.icons {
  display: inline-block;
  padding-right: 2%;
}
